body { background: #BDBDBD; }
.navbar { margin-bottom: 10px}
.chat-container { padding: 10px}
.chat { height: 100%; overflow-y: auto; font-size: 14px; line-height: 14px;}
.chat-timestamp { padding-right: 5px; font-size: 12px;} 
#team-list { height: 90%; overflow-y: auto;}
#team-list table tr {height : 14px;}
#team-list table tr td {line-height: normal;}
#team-list table thead tr {font-size: 14px;}
#team-list table tbody tr {font-size: 10px;}
#team-list .round-num { width: 1em; }
.current-pick { background-color: yellow;}

#player-search { margin-bottom: 5px;}
#player-list { height: 100%; overflow-y: auto;}
#player-list thead td { border:none;}
#player-list td { border-left:none;}

.team-row { height: 32%}
.chat-row { height: 48%}
.pick-announcement { font-weight: bold; }
.table-light { background-color: #F9F9F9}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #CFCFCF;
}

.template { display: none;}
.draft-player i, .draft-player a { vertical-align: middle; font-size: 14px;}
.draft-player i { padding-right: 5px; cursor: pointer;}
