body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

h1 {
  padding: 10px;
}

select {
  font-size: 18px;
  width: 400px;
  position: relative;
  left: 30px;
}

.standings-link {
  position: relative;
  left: 30px;
}

#team-form{
  padding: 15px;
  list-style: none;
}

#team-form input{
  width: 300px;
}

#team-form li{
  padding-left: 60px;
}

.players {
  top: 15px;
  position: relative;
  padding-bottom: 15px;
}

.player {
  width: 480px;
  list-style:none;
  position: relative;
  padding: 5px;
}

.lost {
 color: red;
}

.current {
  background: yellow;
} 

.player-points{
  list-style: none;
  position: absolute;
  left: 265px;
  top: 0px;
}

.player-point {
  float:left;
  width: 20px;
  text-align: right;
  padding: 5px;
}

.player-total{
  position: absolute;
  left: 300px;
  top: 0px;
  padding: 5px;
}

.team {
  position:relative;
  list-style: none;
}

.team li{
  font-size: 18px;
}


.team-total {
  position: absolute;
  left: 650px;
  top: 0px;
}

.teams {
  list-style: none;
}

.teams >li{
  padding: 10px;
}

#new_team label{
  width: 200px;
}
 
.autocomplete {
  width: 400px;
}
