.navbar {
  margin-bottom: 5px;
}

.navbar .brand {
  font-size: 24px;
}

.updated {
  padding-left: 10px;
  font-size: smaller;
}

.teams {
  margin-top: 10px;
  margin-bottom: 10px;
}

#templates {
  display: none;
}

body { 
  background-color: #FAFAFA; 
  font-size: larger;
}

.current {
  background: rgb(255, 216, 94);
} 

.player-round {
  font-size: small;
}

.team {
  font-size: 28px;
}

.team:hover, .player-container .row-fluid:hover{
  background-color: white;
}

.not-countable {
  color: rgb(181,181,181);
}
